@import url("components/section.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

.padded {
  padding: 100px 200px;
}

.wrapper {
  background: linear-gradient(90deg, #ffffff 50%, #ece2d8 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper h2 {
  position: absolute;
  top: 28%;
  left: 43%;
}

.wrapper h4 {
  position: absolute;
  top: 36%;
  left: 47%;
}

.title {
  position: absolute;
  top: 5%;
  font-weight: bolder;
  left: 48%;
  font-size: 54px;
}
